@model CategoryViewModel
@{
    ViewData["Title"] = "UpdateCategory";
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <form method="post">
        <br />
        <input type="hidden" asp-for="ID" />
        <label>Kategori Adı</label>
        <input type="text" class="form-control" asp-for="Name" />
        <br />
        <label>Kategori Açıklaması</label>
        <input type="text" class="form-control" asp-for="Description" />
        <br />
        <label>Durumu</label>
        <select asp-for="Status" class="form-control">
            <option value="true">Aktif</option>
            <option value="false">Pasif</option>
        </select>
        <br />
        <button class="btn btn-outline-primary">Bilgileri Güncelle</button>
    </form>
</div>